<!doctype html>
<html ng-app="myApp" lang="en">
    <head>
        <meta charset="utf-8">
        <title>AngularJs-CRUD-Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <!---------------------Libreria GoogleApis Material Icons-------------------->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-----------------------Plugin principal JS de JQuery----------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-----------------------Plugin principal de AngularJS----------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <!-----------------------Plugins CSS y JS de Bootstrap----------------------->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <!------------------------Plugins CSS y JS de Toastr------------------------->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
        <!----------------------CSS y JS Proyecto CRUD Example----------------------->
        <link rel="stylesheet" href="resources/css/css_crud_example.css">
        <script type="text/javascript" src="resources/js/functions.js"></script>
        <!-----------JS vinculados a funcionamiento Proyecto en AngularJs------------>
        <script type="text/javascript" src="resources/js/app.js"></script>
    </head>
    <body ng-controller="crudExampleController">
        <div class="container">
            <!-----------------Principal ViewProject------------------->
            <h2 style="text-align: center;">{{title_persons_management_gral}}</h2>
            <div class="card">
                <div class="card-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>{{title_persons_management_list}}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control rounded" placeholder="Buscar por ID" aria-label="Search" aria-describedby="search-addon" id="buscar" name="buscar" ng-model="searchingId" ng-minlength="1" ng-maxlength="12" onkeypress="ValidaSoloNumeros()" autocomplete="off" />
                                    <button type="button" class="btn btn-primary" ng-disabled="!searchingId" ng-click="personsListAllById()">{{button_title_person_search}}</button>
                                </div>
                            </div><br>
                            <div class="row" ng-init="personsListAll()">
                                <table class="table table-content table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{grid_table_person_id}}</th>
                                            <th>{{grid_table_person_name}}</th>
                                            <th>{{grid_table_person_lastName}}</th>
                                            <th>{{grid_table_person_male}}</th>
                                            <th>{{grid_table_person_email}}</th>
                                            <th>{{grid_table_person_category}}</th>
                                            <th style="text-align: center;">{{grid_table_person_actions}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="person in prsListAll">
                                            <td>{{person.idPerson}}</td>
                                            <td>{{person.name}}</td>
                                            <td>{{person.lastName}}</td>
                                            <td>{{person.male}}</td>
                                            <td>{{person.email}}</td>
                                            <td>{{person.categoryName}}</td>
                                            <td align="center">
                                                <a ng-click="openModalPersonDetails(person.idPerson)" class="view" title="View" data-toggle="tooltip">
                                                    <i class="material-icons">&#xE417;</i>
                                                </a>
                                                <a ng-click="personEdit(person.idPerson)" class="edit" title="Edit" data-toggle="tooltip">
                                                    <i class="material-icons">&#xE254;</i>
                                                </a>
                                                <a ng-click="openModalPersonDelete(person.idPerson)" class="delete" title="Delete" data-toggle="tooltip">
                                                    <i class="material-icons">&#xE872;</i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="prsListAll.length == 0">
                                            <td colspan="7" style="text-align: center; font-weight: bold;">{{messageResponse}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <button class="btn btn-primary" style="float: right;" ng-click="openFormPersonCreate()">{{button_title_new_person_create}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container" style="text-align: center;">
                    <span>Realizado por Ing. Patricio Rojas Contreras &copy;2020</span>
                </div>
            </footer>
            <!---------------Fin Principal ViewProject----------------->

            <!--------------------Modals Project----------------------->
            <div id="modalFormPersonCreate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 align="center">{{titleFormPersonCreate}}</h4>
                            <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form name="createdPersonForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name">{{formPersonName}}</label>
                                    <input type="text" class="form-control" id="name" name="name" ng-model="formPersonCreate.name" autocomplete="off" ng-change="getInvalidName()" >
                                    <div ng-if="!disabledGetName" class="alert">
                                        <div ng-if="!disabledMinlengthName" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                                        <div ng-if="!disabledInvalidPatternName" class="errorMessageForm">{{errorMessageInvalidName}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">{{formPersonLastName}}</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="formPersonCreate.lastName" autocomplete="off" ng-change="getInvalidLastName()" >
                                    <div ng-if="!disabledGetLastName" class="alert">
                                        <div ng-if="!disabledMinlengthLastName" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                                        <div ng-if="!disabledInvalidPatternLastName" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="male">{{formPersonMale}}</label>
                                    <select class="form-control" id="male" name="male" ng-model="formPersonCreate.male">
                                        <option value="">Seleccione</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="uEmail">{{formPersonEmail}}</label>
                                    <input type="text" class="form-control" id="uEmail" name="uEmail" ng-model="formPersonCreate.email" autocomplete="off" ng-change="getInvalidEmail()" >
                                    <div ng-if="!disabledGetEmail" class="alert">
                                        <div ng-if="!disabledInvalidPatternEmail" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category">{{formPersonCategory}}</label>
                                    <select class="form-control" id="category" name="category" ng-model="formPersonCreate.category">
                                        <option value="">Seleccione</option>
                                        <option value="{{category.idCategory}}" ng-repeat="category in catsListAll">{{category.categoryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="cancelPersonCreate()">{{formPersonCancelBtn}}</button>
                                <button type="button" class="btn btn-outline-dark" ng-disabled="!formPersonCreate.name || !formPersonCreate.lastName || !formPersonCreate.male || !formPersonCreate.email || !formPersonCreate.category || !disabledGetName || !disabledMinlengthName || !disabledInvalidPatternName || !disabledGetLastName || !disabledMinlengthLastName || !disabledInvalidPatternLastName || !disabledGetEmail || !disabledInvalidPatternEmail" ng-click="personCreate()">{{formPersonCreateBtn}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="modalFormPersonEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 align="center">{{titleFormPersonUpdate}}</h4>
                            <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form name="updatedPersonForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="editIdPerson">{{formPersonId}}</label>
                                    <input type="text" class="form-control" id="editIdPerson" name="editIdPerson" ng-model="formPersonEdit.idPerson" ng-disabled="true" autocomplete="off">
                                    <input type="hidden" ng-model="idPersonAntidisabled">
                                </div>
                                <div class="form-group">
                                    <label for="editName">{{formPersonName}}</label>
                                    <input type="text" class="form-control" id="editName" name="editName" ng-model="formPersonEdit.name" autocomplete="off" ng-change="getInvalidNamePersonEdit()">
                                    <div ng-if="!disabledGetName" class="alert">
                                        <div ng-if="!disabledMinlengthName" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                                        <div ng-if="!disabledInvalidPatternName" class="errorMessageForm">{{errorMessageInvalidName}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editLastName">{{formPersonLastName}}</label>
                                    <input type="text" class="form-control" id="editLastName" name="editLastName" ng-model="formPersonEdit.lastName" autocomplete="off" ng-change="getInvalidLastNamePersonEdit()">
                                    <div ng-if="!disabledGetLastName" class="alert">
                                        <div ng-if="!disabledMinlengthLastName" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                                        <div ng-if="!disabledInvalidPatternLastName" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editMale">{{formPersonMale}}</label>
                                    <select class="form-control" id="editMale" name="editMale" ng-model="formPersonEdit.male">
                                        <option value="">Seleccione</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="editEmail">{{formPersonEmail}}</label>
                                    <input type="text" class="form-control" id="editEmail" name="editEmail" ng-model="formPersonEdit.email" autocomplete="off" ng-change="getInvalidEmailPersonEdit()">
                                    <div ng-if="!disabledGetEmail" class="alert">
                                        <div ng-if="!disabledInvalidPatternEmail" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editCategory">{{formPersonCategory}}</label>
                                    <select class="form-control" id="editCategory" name="editCategory" ng-model="formPersonEdit.category">
                                        <option value="">Seleccione</option>
                                        <option value="{{category.idCategory}}" ng-repeat="category in catsListAll">{{category.categoryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="cancelPersonUpdate()">{{formPersonCancelBtn}}</button>
                                <button type="button" class="btn btn-outline-dark" ng-disabled="!formPersonEdit.name || !formPersonEdit.lastName || !formPersonEdit.male || !formPersonEdit.email || !formPersonEdit.category || !disabledGetName || !disabledMinlengthName || !disabledInvalidPatternName || !disabledGetLastName || !disabledMinlengthLastName || !disabledInvalidPatternLastName || !disabledGetEmail || !disabledInvalidPatternEmail" ng-click="personUpdate()">{{formPersonUpdateBtn}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="modalFormPersonDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDelete}}</h4>
                            <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {{textDescriptionModalDeletePerson}}
                            <input type="hidden" name="idPersonDel" ng-model="personIdDelete" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="cancelPersonDelete()">{{formPersonCancelBtn}}</button>
                            <button type="button" class="btn btn-outline-dark" ng-click="confirmPersonDelete()">{{formPersonDeleteBtn}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalFormPersonReadDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDetails}}</h4>
                            <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p><b>{{formPersonId}}:</b> {{personDetails.idPerson}}</p>
                            <p><b>{{formPersonName}}:</b> {{personDetails.name}} {{personDetails.lastName}}</p>
                            <p><b>{{formPersonMale}}:</b> {{personDetails.male}}</p>
                            <p><b>{{formPersonEmail}}:</b> {{personDetails.email}}</p>
                            <p><b>{{formPersonCategory}}:</b> {{personDetails.categoryName}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="closeModalPersonDetails()">{{formPersonDetailsCloseBtn}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------End Modals Project--------------------->
        </div>
    </body>
</html>
